#mainSection{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#charLimitLabel{
    margin-bottom: 10px;
}

#charLimitInput{
    max-width: 200px;
    margin-bottom: 10px;
}

#generateButton{
    max-width: 200px;
}

.passwordParent{
    width: auto;
    min-width: 200px;
    padding: 20px;
    background: lightblue;
    margin-bottom: 10px;
}    

.checkboxParent{
    display: flex;
    margin-bottom: 10px;
}

#passwordText{

}

